{% extends "base.html" %}
{% block title %}Criar Exame{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        body {
            background: #f5f5f5;
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 15px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-control {
            padding: 10px;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .btn {
            padding: 10px 15px;
            border: 0;
            border-radius: 4px;
            color: #fff;
            background-color: #007BFF;
            cursor: pointer;
        }

        .error-message {
            color: red;
            font-size: 0.875em;
            margin-top: 5px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Criar Exame</h2>
    <form method="post" action="{{ url_for('criacao_exames.cria_exame') }}">
        {{ form.hidden_tag() }}
        <div class="form-group mb-3">
            {{ form.nome.label(class="form-label") }}
            {{ form.nome(**{"class": "form-control", "id": "nome"}) }}
            <div id="nomeError" class="text-danger"></div>
        </div>
        <div class="form-group mb-3">
            {{ form.nota.label(class="form-label") }}
            {{ form.nota(**{"class": "form-control", "id": "nota"}) }}
            <div id="notaError" class="text-danger"></div>
        </div>
        <div class="form-group mb-3">
            {{ form.data_abertura.label(class="form-label") }}
            {{ form.data_abertura(**{"class": "form-control", "id": "data_abertura"}) }}
            <div id="dataAberturaError" class="text-danger"></div>
        </div>
        <div class="form-group mb-3">
            {{ form.data_fechamento.label(class="form-label") }}
            {{ form.data_fechamento(**{"class": "form-control", "id": "data_fechamento"}) }}
            <div id="dataFechamentoError" class="text-danger"></div>
        </div>

        <div class="form-group mb-3">
            {{ form.questoes.label(class="form-label") }}
            {{ form.questoes(**{"class": "form-control", "id": "questoes"}) }}
            <div id="questoesError" class="text-danger"></div>
        </div>
        
        <div class="form-group mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}