{% extends "base.html" %}
{% block title %}Criar Exame{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <style>
        
        body {
            background: #f5f5f5;
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 15px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-control {
            padding: 10px;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .btn {
            padding: 10px 15px;
            border: 0;
            border-radius: 4px;
            color: #fff;
            background-color: #007BFF;
            cursor: pointer;
        }

        .error-message {
            color: red;
            font-size: 0.875em;
            margin-top: 5px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Criar Exame</h2>
    <form method="post" action="{{ url_for('exames.cria_exame') }}">
        {{ form.hidden_tag() }}
        <div class="form-group mb-3">
            {{ form.nome.label(class="form-label") }}
            {{ form.nome(**{"class": "form-control", "id": "nome"}) }}
            <div id="nomeError" class="text-danger"></div>
        </div>
        <div class="form-group mb-3">
            {{ form.nota.label(class="form-label") }}
            {{ form.nota(**{"class": "form-control", "id": "nota"}) }}
            <div id="notaError" class="text-danger"></div>
        </div>

        <div class="form-group mb-3">
            {{ form.data_abertura.label(class="form-label") }}
            {{ form.data_abertura(**{"class": "form-control", "id": "data_abertura"}) }}
            <div id="dataAberturaError" class="text-danger"></div>
        </div>

        <div class="form-group mb-3">
            {{ form.data_fechamento.label(class="form-label") }}
            {{ form.data_fechamento(**{"class": "form-control", "id": "data_fechamento"}) }}
            <div id="dataFechamentoError" class="text-danger"></div>
        </div>
        
        <div class="form-group mb-3">
            {{ form.duracao.label(class="form-label") }}
            {{ form.duracao(**{"class": "form-control", "id": "duracao"}) }}
            <div id="questoesError" class="text-danger"></div>
        </div>

        <div class="form-group mb-3">
            {{ form.questoes.label(class="form-label") }}
            {{ form.questoes(**{"class": "form-control", "id": "questoes"}) }}
            <div id="questoesError" class="text-danger"></div>
        </div>
        
        <div class="form-group mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <!-- Include JS for JQuery, JQuery UI and Select2 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

    <!-- Add datepicker and timepicker -->
    <script>
        $(function () {
            $("#data_abertura").datetimepicker({
                format:'d/m/Y H:i:s',
                onChangeDateTime: function(dp, $input){
                    $input.val(dp.format('d/m/Y H:i:s'));
                }
            });

            $("#data_fechamento").datetimepicker({
                format:'d/m/Y H:i:s',
            });
            $('#questoes').select2({
                placeholder: 'Selecione as questões',
                allowClear: true
            });
        });
        
    </script>
{% endblock %}