{% extends "base.html" %}

{% block content %}
    <style>
        .exam-container {
            width: 80%;
            margin: auto;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .exam-title {
            text-align: center;
            color: #333;
        }

        .question-number {
            font-weight: bold;
            color: #666;
        }

        .exam-form {
            margin-top: 20px;
        }

        .response-label {
            font-weight: bold;
            margin-top: 10px;
        }

        .error-message {
            color: red;
            font-size: 0.8em;
        }

        .button-container {
            margin-top: 20px;
        }

        .btn {
            background-color: #007bff;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
        }

        .form-control[type="radio"] {
            opacity: 0.7;
            cursor: pointer;
            margin: 10px 0;
        }
    </style>

    <div class="exam-container">
        <p>Tempo restante: <span id="timer"></span></p>
        <h1 class="exam-title">{{ exam.get_name() }}</h1>
        <p class="question-number">Questão {{ question_index + 1}}</p>
        <form method="POST" class="exam-form">
            {{ form.hidden_tag() }}
            <h2 class="question-text">{{ question.enunciado }}</h2>
            {% if question.tipo_questao.value == 'verdadeiro_falso' %}
                <p class="response-label">Resposta:</p>
                {{ form.resposta(class="form-control") }}
                {% for error in form.resposta.errors %}
                    <span class="error-message">[{{ error }}]</span>
                {% endfor %}
            {% elif question.tipo_questao.value == 'multipla_escolha' %}
                <p class="response-label">Escolha uma das opções:</p>
                {{ form.resposta(class="form-control") }}
                {% for error in form.resposta.errors %}
                    <span class="error-message">[{{ error }}]</span>
                {% endfor %}
            {% elif question.tipo_questao.value == 'entrada_numero' %}
                <p class="response-label">Resposta:</p>
                {{ form.resposta(class="form-control") }}
                {% for error in form.resposta.errors %}
                    <span class="error-message">[{{ error }}]</span>
                {% endfor %}
            {% endif %}
            <div class="button-container">
                {{ form.submit(class="btn") }}
                {% if question_index > 0 %}
                    <a href="{{ url_for('exames.comeca_exame', id=exam.id, question_index=question_index-1) }}" class="btn">Anterior</a>
                {% endif %}
            </div>
        </form>
    </div>

    <script>
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    // Aqui você pode redirecionar o usuário ou realizar alguma ação ao término do tempo
                    // Exemplo de redirecionamento:
                    window.location.href = "/exam/review/" + {{ exam.id }};
                }
            }, 1000);
        }

        window.onload = function () {
            // Defina a duração do exame em segundos
            var duration = {{ tempo_restante }} ;
            var display = document.querySelector('#timer');
            startTimer(duration, display);
        };
    </script>
{% endblock %}
